# Problem set 3

Emma Marshall <br>
11/10/2022

In [29]:
import pandas as pd
import math
from matplotlib import pyplot as plt
import numpy as np
from optics_functions import *

## Problem 1
Spectral irradiance at the top of the atmosphere at 680 nm is approximately 1.5 Wm-2nm-1. What would direct spectral irradiance be at the surface if theta = 0 and optical depth (tau) = 0.28?

In [7]:
theta = 0
tau_n = 0.28
E_n = 1.5

In [8]:
def beerlambert_oz(E_nought, tau_nought, theta):
    '''Beer Lambert's Law taking into account optical depth and zenith angle'''
    x = (-tau_nought / math.cos(math.radians(theta)))
    
    E_theta = E_n * math.exp(x)
    
    return E_theta

In [9]:
e_theta = beerlambert_oz(E_n, tau_n, theta)

In [10]:
e_theta

1.1336756121835883

## Problem 2

You measure transmittance as 0.57 at a solar zenith angle of 71. What is tau nought at theta = 0? 

First calculate optical depth at theta = 71:

In [31]:
theta = 71
T_n = 0.57

In [33]:
tau_71 = -(math.cos(math.radians(theta))*math.log(T_n))
tau_71

0.18300801876870199

Then calc optical depth at theta = 0:

In [36]:
tau_0 = tau_71 * math.cos(math.radians(theta))

In [37]:
tau_0

0.05958158292138701

In [ ]:
tau_theta * math.cos(math.radians(71))

0.05958158292138701

## Problem 3

Again assume spectral irradiance at TOA at 680 nm is 1.5 Wm-2 nm-1. What would direct spectral irradiance be at the surface if theta=45 and tau_nought = 0.31? Hint: don't forget Lambert's Cosine Law

In [34]:
E_n = 1.5
tau_3n = 0.31
theta_3 = 45

In [35]:
cos45 = math.cos(math.radians(theta_3))

In [36]:
T2surf = math.exp(-tau_3n/ cos45)

In [37]:
E_n * cos45 * T2surf

0.6841933769289592

In [ ]:
math.exp((-0.31/ math.cos(math.radians(45)))) * math.cos(math.radians(45)) * 1.5

0.6841933769289592

In [ ]:
0.31 / math.cos(math.radians(45))

0.4384062043356594

In [29]:
beerlambert_oz(1.5, 0.31, 0)

1.1001704343364338

In [86]:
1.5 * math.exp(-0.31/math.cos(math.radians(45))) * math.cos(math.radians(45))

0.6841933769289592

## Question 4

1. Calc zenith angle at 9 am 
    - need declination, hour angle, beta

### Calc zenith angle at 9am

In [16]:
j_jul22 = 31 + 28 + 31 + 30 + 31 + 30 + 22
j_jul22

203

In [17]:
beta_dv = 36.5
lambda_dv = -117

In [18]:
dec_jul22 = calc_declination(j_jul22)
dec_jul22

20.189535822596916

In [19]:
et_jul22_num = equation_of_time(j_jul22)
et_jul22_num #so solar noon is after 12 pm

-6.096097815682823

In [20]:
et_decimal = float(str(et_jul22_num)[2:6])
et_int = int(str(et_jul22_num)[1:2])
print(et_decimal)
print(et_int)

et_jul22_time = f'{et_int}:0{int(60*et_decimal)}'
et_jul22_time

0.096
6

'6:05'

Solar noon occurs 6 mins and 5 seconds after noon on 7/22 --> **12:06:05 pm**

In [21]:
central_meridian = 120 #120 is the central meridian of pacific time zone

In [22]:
longitude_offset = np.abs(lambda_dv) - central_meridian
longitude_offset

-3

In [23]:
longitude_adjustment = longitude_offset * 4
longitude_adjustment

-12

Because Death Valley is East of Central Meridian in Pacific tz, subtract 12 minutes from time.

12:06:05 - 12 minutes = **solar noon is 11:54:05 AM PT on 7/22 in Death Valley**


Now calculate difference between target time and solar noon:

In [24]:
hour_angle_time = - (2 + (54/60))
hour_angle_time

-2.9

In [25]:
hour_angle = hour_angle_time * 15
hour_angle

-43.5

Now calculate solar zenith angle:

In [26]:
theta_dv_9 = calc_zenith(dec_jul22, beta_dv, hour_angle)
theta_dv_9

41.187493987861686

So the solar zenith angle at 9 am on 7/22/23 in Death Valley is **41.188 degrees**

### Calc zenith angle at 11 am

In [38]:
hour_angle_time2 = -(54/60)

In [39]:
hour_angle2 = hour_angle_time2 * 15
hour_angle2

-13.5

In [40]:
theta_dv_11 = calc_zenith(dec_jul22, beta_dv, hour_angle2)
theta_dv_11

20.131013483820002

### Calculate optical depth at theta 1

In [42]:
tau_41 = - math.log(0.56)
tau_41

0.579818495252942

### Calculate tau nought

In [43]:
tau_nought4 = tau_41 * math.cos(math.radians(theta_dv_9))
tau_nought4

0.4363474320551814

### Calc tau at 11 am

In [44]:
tau_11am = tau_nought4 / theta_dv_11
tau_11am

0.021675383229259125

### Calc transmittance at 11 am

In [45]:
#i think this is wrong
T_11am = math.exp(-tau_11am)
T_11am

0.9785578397844437

In [46]:
#this is right
T_11am = math.exp(-tau_nought4 / math.cos(math.radians(theta_dv_11)))
T_11am

0.6282989209621994

In [ ]:
beta = 36.5

In [ ]:
dec = calc_declination(doy)

In [ ]:
dec

20.189535822596916

In [ ]:
et  = equation_of_time(doy)

In [37]:
et

-6.096097815682823